.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.row {
  width: 100%;
  display: flex;
  gap: 20px;
}

.card .image {
  width: 100%;
}

/* Stile per le immagini all'interno delle card */
.card img {
  width: 100%;
  height: auto;
  max-height: 192px;
border-radius: 8px;
object-fit: cover;
  // border-radius: 4px 4px 0 0;

}


.card {
  border: 1px solid #ccc;
  border-radius: 16px;
  flex: 0 0 calc(25% - 12px); /* Ogni card occupa il 25% dello spazio disponibile */
  max-width: 25%; /* Imposta una larghezza massima per ciascuna card */
  display: flex; /* Permette una migliore gestione del layout interno delle card */
  justify-content: space-around;
  padding: 12px;
box-sizing: border-box;
position: relative;
display: flex; /* Utilizza Flexbox */
flex-direction: column; /* Disponi gli elementi in colonna */
align-items: center; /* Centra gli elementi orizzontalmente */
  transition: all 0.08s ease-in-out; /* Aggiunge un effetto di transizione al passaggio del mouse */
}

.text {
  text-align: center; /* Centra il testo */
  margin-top: 20px; /* Aggiunge spazio sopra il testo per separarlo dall'immagine */
}

.text .caption {
  color: rgba(0, 0, 0, .72);
  font-weight: bold;
  font-size: 0.92rem; /* Dimensione del testo */
  margin-bottom: 4px; /* Aggiunge spazio sotto il testo */
}

.card-actions {
  display: flex; /* Utilizza Flexbox */
  align-items: center;
  justify-content: flex-end; /* Allinea gli elementi orizzontalmente */
  width: 100%; /* Occupa tutto lo spazio disponibile */
  gap: 4px;
  margin-top: 12px; /* Aggiunge spazio sopra i pulsanti */
}


.btn{
  font-weight: bold;
  font-size: 0.92rem; /* Dimensione del testo */
  margin-bottom: 4px; /* Aggiunge spazio sotto il testo */
}
/* Media Queries */
@media (max-width: 768px) {

  .card {
    flex: 0 0 calc(50% - 12px); /* Occupa il 50% dello spazio disponibile */
    max-width: 50%; /* Imposta una larghezza massima per ciascuna card */
    /* Assicurati che non ci siano margini indesiderati o padding che influenzano la larghezza */
    margin: auto;
  }
}

@media (max-width: 576px) {

  .card {
    flex: 0 0 calc(100% - 12px); /* Occupa il 100% dello spazio disponibile */
    max-width: 100%; /* Imposta una larghezza massima per ciascuna card */
    /* Assicurati che non ci siano margini indesiderati o padding che influenzano la larghezza */
    margin: auto;
  }
}

